# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Specific files
./optimization_timeit.ipynb
./testing_color.ipynb
.traitly/src/traitly-examples.ipynb
./traitly.csv
./traitly/src/traitly_app.py
./traitly/src/example.ipynb
./traitly/src/traitly/fruit_phenotyping/color_plot.py
./traitly/tests/sample_data

# Build
build/
dist/
*.egg-info/
# pixi environments
.pixi/*
!.pixi/config.toml
