# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Specific files
internal_structure/mask_unet.py
src/example.ipynb
src/traitly_app.py
./optimization_timeit.ipynb

# Build
build/
dist/
*.egg-info/
# pixi environments
.pixi/*
!.pixi/config.toml
