# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# python environments
.traitly_test/*

# Cache
.cache/

# Build
build/
dist/
*.egg-info/

# Jupyter files
**/.ipynb_checkpoints/

# Requirements
requirements.txt
requirements-dev.txt

# test
tests/data/external/blue_bg/Results
tests/data/Internal/Images_from_PDF/Results
.coverage

# notebooks
Untitled*

# HF files
./traitly
